<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Links</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Name:- Vibhavari Gadge</h2>
        <h3>username:'vibha'  password:'vibha100'</h3>
       <h1><a href="POST/client" target="_blank"><b>Register a client</b></a></h1> <br><br>
       <h1><a href="GET/client" target="_blank"><b>List of clients</b></a> <br><br></h1>
       <h1><a href="PUT-PATCH/client/:1" target="_blank"><b>Edit client Info</b> (In URL after colon enter id by Defatult set to 1)</a></h1> <br><br>
       <h1><a href="DELETE/clients/:4" target="_blank"><b>Delete client Info </b>(In URL after colon enter id by Defatult set to 4)</a></h1> <br><br>
       <h1><a href="GET-POST/projects" target="_blank"><b>Add new projects & List Them for a client and assign one or multiple users to those projects.</b></a></h1> <br><br>
       <h1><a href="admin/" target="_blank">Admin Page </a></h1> <br><br>

       <br><br>
       
        
      
    </body>
</html>